<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>category</title>
</head>
<body>
<form action="/menu/homework/categorySearch">

    <label>카테고리 : </label>
    <select name="categoryCode" id="categoryCode"></select><br>
    <input type="submit">

</form>

<script>
    fetch('/menu/category')
        .then(res => res.json())
        .then(data => {
            const $categoryCode = document.getElementById('categoryCode');
            for(let index in data) {
                const $option = document.createElement('option');
                $option.value = data[index].categoryCode;
                $option.textContent = data[index].categoryName;
                $categoryCode.append($option);
            }
        });
</script>

</body>
</html>